# Created by .ignore support plugin (hsz.mobi)
.idea/
__pycache__/
experiements/
detection/input_dir/images_dab/*.png
detection/input_dir/images_org/*.png
classification/input_dir/images_dab/*.png
classification/input_dir/images_org/*.png
detection/output_dir/annotations/*.xml
detection/output_dir/dumps/*.json
detection/output_dir/masks_adpt/*.png
detection/output_dir/masks_cv/*.png
detection/output_dir/masks_mcv/*.png
detection/output_dir/masks_elipses/*.png
detection/output_dir/masks_mgac/*.png
detection/output_dir/patches/dab/*.png
detection/output_dir/patches/org/*.png